.counter {
  min-width: 250px;
  height: 280px;
  font-size: 160px;
  padding: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid #fff;
  margin-bottom: 15px;
}